.downloads {
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
}
.downloads .downloadWrapper {
  width: 1150px;
}
.downloads .platforms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.downloads img {
  max-width: 230px;
  margin-right: 40px;
  width: 30vw;
}

@media only screen and (max-width: 840px) {
  .downloads .platforms {
    flex-direction: column;
    align-items: flex-start;
  }

  .downloads img {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
}
