.feedback {
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

.feedback .feedbackWrapper {
  width: 1150px;
}

.feedback p {
  max-width: 490px;
}

/* 
@media only screen and (max-width: 840px) {
  .context .media {
    align-self: flex-start !important;
  }
} */
