footer {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  color: #a0c1d9;
  margin-right: 20px;
}

@media only screen and (max-width: 410px) {
  footer a {
    color: #a0c1d9;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  footer nav {
    display: flex;
    flex-direction: column;
  }
}
