.heroImage {
  /* background-image: url("../images/HeaderBG@2x.png"); */
  padding: 0px;
  position: relative;
}

.heroContent {
  position: relative;
}

.heroContent video {
  width: 100%;
}

.quickDownload {
  background-color: white;
  border-radius: 100px;
  padding: 5px 20px 7px 20px;
  box-shadow: #0000006b 1px 10px 20px;
  transition: all 1s;
}

.quickDownload:hover {
  box-shadow: #0000006b 1px 10px 40px;
}

.heroContent nav {
  padding-left: 5vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: absolute;
  bottom: 10vw;
  left: 0px;
}

.heroContent nav a {
  text-decoration: none;
  color: black;
  margin-bottom: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heroContent nav img {
  width: 10px;
  margin-right: 10px;
  margin-top: 4px;
}

.heroMask {
  position: absolute;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  margin-bottom: -4px;
  pointer-events: none;
}

.heroMask img {
  width: 100%;
}

@media only screen and (max-width: 740px) {
  .heroContent nav {
    bottom: 4vw;
  }
}

@media only screen and (max-width: 500px) {
  .heroContent nav {
    bottom: -8vw;
  }
}

@media only screen and (max-width: 400px) {
  .heroContent nav {
    bottom: -25vw;
  }
}
