.textMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.textMedia {
  /* max-width: 1080px;
  margin: 0 auto; */
}

#about .content {
  max-width: 640px;
}

#about .textMedia {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content {
  width: 40%;
  max-width: 500px;
}

/* #about .content {
    width: 80%;
} */

.media {
  /* width: 80%; */
}

.media img {
  width: 100%;
  max-width: 650px;
  padding: 0px 30px 0px 80px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
  .content {
    width: 60%;
  }
}

@media only screen and (max-width: 840px) {
  .textMedia {
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 70%;
  }
  .media {
    align-self: flex-end;
  }
  .media img {
    width: 100%;
    max-width: 650px;
    padding: 0px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    width: 100%;
  }
  .media {
    align-self: flex-end;
  }
}
